In [2]:
countries = [1, 'UK', 2, 'US']

In [7]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]

In [8]:
cells[0]

['A1', 'A2', 'A3']

In [9]:
cells[0][0]

'A1'

In [10]:
cells[0][1]

'A2'

In [11]:
cells[1][0]

'B1'

In [12]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    print('Element:', x)

Element: ['A1', 'A2', 'A3']
Element: ['B1', 'B2', 'B3']

In [13]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    for y in x:
        print('Element:', y)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [14]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print('Element:', cell)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [16]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print(cell, '', end='')
    print()

A1 A2 A3
B1 B2 B3

In [20]:
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5
# 1 2 3 4 5

table = [[i for i in range (1, 6)] for j in range (4)]
print(table)
for x in table:
    print(x)
print()

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]