In [1]:
empty_tuple = ()

In [2]:
one_el_tuple_a = (1,)

In [3]:
one_el_tuple_b = 1,

In [4]:
three_el_tuple = 1, 2, 3

In [5]:
print(three_el_tuple)

(1, 2, 3)

In [6]:
user_data = ('John', 'American', 1964)

In [7]:
user_data = ('Katya', 'Russian', 1980)

In [8]:
user_data.append('teacher')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
del user_data[0]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
print(user_data)

('Katya', 'Russian', 1980)

In [11]:
user_data[0] = 'Mark'

TypeError: 'tuple' object does not support item assignment

In [12]:
connection = ('Amsterdam', 'Dublin', 100)

In [13]:
print(connection[1])

Dublin